<% show_post ||= false %>

<div class='span0 well text-center'>
  <% if logged_in? && comment.valid? %>
    <%= link_to vote_comment_path(comment, vote: true), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
   <span id='comment_<%= comment.id %>_votes'><%= comment.total_votes %> Votes</span>
    <br/>
    <%= link_to vote_comment_path(comment, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  <% else %>
    <%= comment.total_votes %> Votes
  <% end %>
</div>

<div class="row">
  <div class='span8 well'>
    <p><em><%= simple_format h comment.body %></em></p>
    <%= render 'shared/creation_stats', post_type: comment %>
    <% if show_post %>
      <span class='quiet'>original post: <%= link_to comment.post.title, post_path(comment.post) %></span>
    <% end %>
    </div>
  </div>