<div class='well'>
  <%= form_for @user do |f| %>
  <%= render 'shared/error', form: @user %>
  <div class='control-group'>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class='control-group'>
    <%= f.label :phone, "Phone Number <small>(numbers only)</small".html_safe %>
    <%= f.text_field :phone, maxlength: 9 %>
    <%= link_to "#", 'two_factor_phone' do %>
      <i class='icon-question-sign'></i>
    <% end %>
  <div class='control-group'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='control-group'>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)" %>
  </div>
  <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: 'btn btn-success' %>
  <% end %>
</div>
