<%= render 'shared/content_title', title: " Profile: #{@user.username}" %>
<div class='well span8'>
  <dl class='dl-horizontal'>
	<strong>Username:</strong>   <%= @user.username %>
	<br>
	<strong>Time zone:</strong> 
  <p>
  <% if current_user.id == @user.id %>
    [<%= link_to "edit profile", edit_user_path(@user) %>]
  <% end %>
</dl>
</div>
<br></br>
<br></br>
<br></br>
<p>
<br>
	<strong><%= @user.username %>'s Activity</strong>
</p>
<p>
  <ul class="nav nav-tabs">
    <li class='<%= 'active' if params[:tab].nil? %>'>
      <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'comments' %>'>
      <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
    </li>
</ul>

<!-- show posts and comments -->
<% if params[:tab].nil? %>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% elsif params[:tab] == 'comments' %>
  <% @user.comments.each do |comment| %>
     <%= render 'comments/comment', comment: comment, show_post: true %>
  <% end %>
<% end %>
</p>