<%= render 'shared/content_title', title: " Profile: #{@user.username}" %>
<div class='well span8'>
	<strong>Username:</strong>   <%= @user.username %>
	<br>
	<strong>Time zone:</strong> 
  <p>
  <% if current_user.id == @user.id %>
    [<%= link_to "edit profile", edit_user_path(@user) %>]
  <% end %>
</div>
<br></br>
<br></br>
<br></br>
<p>
	<strong><%= @user.username %>'s Activity</strong>
</p>
<p>
<div class="tabbable">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#posts_tab" data-toggle="tab">Posts (<%= @user.posts.size%>) </a></li>
    <li role="presentation"><a href="#comments_tab" data-toggle="tab">Comments (<%= @user.comments.size%>)</a></li>
</ul>
	<div class="tab-content">
    <div id="posts_tab" class="tab-pane">
      <% @user.posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>
    <div id="comments_tab" class="tab-pane">
      <% @user.comments.each do |comment| %>
        <div class="row">
          <div class='span8 well'>
            <p><em><%= simple_format h comment.body %></em></p>
            <p>
              <%= render 'shared/creation_stats', post_type: comment %>
              <span class="quiet">
                This comment was made on post: <%= link_to "#{comment.post.title}", comment.post %>
              </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</p>