<div class='well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <br>
      <br>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <br>
      <%= f.label :user_id %>
      <%= f.number_field :user_id %>
      <div class='form-inline', 'control-group'>
        <%= f.label :categories %>:
        <br>
        <%= f.collection_check_boxes:category_ids, Category.all, :id, :name, {:item_wrapper_class => 'inline'} %>
      </div>
      <br>
      <%= f.submit(@post.new_record? ? "Create Post" : "Update Post", class: 'btn btn-primary') %>
  <% end %>
    </div>
</div>