<div class='well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <br>
      <br>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <br>
      <%= f.label :user_id %>
      <%= f.number_field :user_id %>
      <br>
      <select name='category[]' multiple=multiple>
        <option value='1'>option1</option>
        <option value='2'>option2</option>
      </select>
      <%= f.submit(@post.new_record? ? "Create Post" : "Update Post", class: 'btn btn-primary') %>
  <% end %>
    </div>
</div>