<div class="row">
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= simple_format h post.description %> </p>
    <p>
      <span class='quiet'>
        posted by <%=link_to post.creator.username, user_path(@users) %>
      <small>at <%= post.created_at %></small>
      <p>
        <%= link_to ("#{post.comments.size} comments"), post_path(post) %>
      </p>
      </span>
      </p>
  </div>
</div>