<div class="row">
  <div class='span0 well text-center'>
    <%= link_to '' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    Vote
    <br/>
    <%= link_to '' do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= simple_format h post.description %> </p>
    <p>
      <%= render 'shared/creation_stats', post_type: post %>
      <p>
        <%= link_to ("#{post.comments.size} comments"), post_path(post) %>
      </p>
      </span>
      </p>
  </div>
</div>