<div class="row">
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= simple_format h post.description %> </p>
    <p>
      <%= render 'creation_stats', post_type: post %>
      <p>
        <%= link_to ("#{post.comments.size} comments"), post_path(post) %>
      </p>
      </span>
      </p>
  </div>
</div>