<p class='pull-right'>
  [<%= link_to 'edit this Post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<%= link_to @post.title, fix_url(@post.url) %>
<br>
<p>
  <%= simple_format h @post.description %>
</p>
<hr/>

<%= render 'creation_stats', post_type: @post %>

<br>

<%= render 'shared/error', new_form: @comment %>

<h5>Create a comment:</h5>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Create comment", class: 'btn btn-primary' %>
<% end %>

<p>
<% @post.comments.each do |comment| %>
  <div class="row">
    <div class='span8 well'>
      <p><em><%= simple_format h comment.body %></em> </p>
      <p>
        <%= render 'creation_stats', post_type: comment %>
    </div>
  </div>
<% end %>
</p>